extends base
block content 
    form.forget
        .form-elements
            .singleformelement
                div.lables Email:
                input.inputs(type='text', placeholder='username or email')
        .form-elements
            button(href='#' type="submit") Forget Password