form.login
    .form-elements
        .singleformelement
            div.lables Email:
            input#name.inputs(type='text', placeholder='username or email')
        .singleformelement
            div.lables  Password:
            input.inputs(type='password', placeholder='*******')
        .form-elements
            button(href='#' type="submit") Login
        a( style="font-size:20px" href="/forgetpassword") Forgot Password?    