extend base
block content
    div.myprofileview(text-align:center)
        h2(style="color:black; text-align:center; ") My Profile
        include profilepage
        
    a(href="/updateprofile") Update Profile    