nav.navigation
    ul
        if(user)
            li
                a(href="joingym") JOIN GYM
            li
                a(href="howitworks") HOW IT WORKS
            li
                a(href="/plan") PLAN
            li
                a(href="ourcities") LOCATE US
            li
                a(href="/logout") LOGOUT
        else
            li
                a(href="joingym") JOIN GYM
            li
                a(href="howitworks") HOW IT WORKS
            li
                a(href="/plan") PLAN
            li
                a(href="ourcities") LOCATE US
            li
                a(href="/login") LOG IN
            li
                a(href="/signup") SIGN UP






