form.signup
    .form-elements
        .singleformelement
            div.lables Name:
            input#name.inputs(type='text', placeholder='Your Name')
        .singleformelement
            div.lables Email:
            input.inputs(type='text', placeholder='Your Email')
        .singleformelement
            div.lables  Password:
            input.inputs(type='password', placeholder='*******')
        .singleformelement
            div.lables Confirm Password:
            input.inputs(type='password',id="signupconfirmpassword", placeholder='*******')
        .form-elements
            button(href='#' type="submit") SignUp